mat-tab-group {
  margin-bottom: 48px;
  overflow-x: hidden !important;
  overflow-y: hidden !important;
  overflow: hidden !important;
}
.mat-tab-body-content {
  height: 100%;
  overflow-x: hidden !important;
  overflow-y: hidden !important;
  overflow: hidden !important;
}

section {
  display: table;
}

.import-button-row {
  display: table-cell;
  width: auto;
}

  .import-button-row .mat-button-base {
    margin: 8px 8px 8px 0;
  }

.flex-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.button-container {
  display: flex;
  justify-content: center;
  width: 120px;
}

.mat-form-field {
  width: 90%;
}

/* page dividing */
.column {
  width: 48%;
  min-height: 100%;
}

.mat-label {
  margin-left: 2%;
}

/* Middle Divider */
.col2 {
  padding-top: 4px;
  border-left: 4px solid #0033A0;
  min-height: 100%;
  border-top: none;
}

.content-right, .content-left {
  margin-top: 0.1%;
  margin-left: 2%;
  margin-right: 2%;
  margin-bottom: 0.1%;
  padding-left: 1%;
  padding-right: 1%;
}

.mat-tab-group {
  z-index: 0;
  position: relative;
}

@media (max-width: 1132px) {
  .column {
    width: 100%;
  }
  /* Middle Divider */
  .col2 {
    border-top: 4px solid #0033A0;
    border-left: none;
  }
  .content-right, .content-left {
    margin-top: 0.1%;
    margin-left: 5%;
    margin-right: 2%;
    margin-bottom: 0.1%;
    padding-left: 1%;
    padding-right: 1%;
  }

}

/*Phones*/
@media (max-width: 575px) {
  .column {
    width: 100%;
  }

  .save-changes {
    font-size: medium;
  }

  .btn-danger {
    font-size: medium;
  }

  .btn-success {
    font-size: medium;
  }
  /* Middle Divider */
  .col2 {
    border-top: 4px solid #0033A0;
    border-left: none;
  }
  .content-right, .content-left {
    margin-top: 0.1%;
    margin-left: 5%;
    margin-right: 2%;
    margin-bottom: 0.1%;
    padding-left: 1%;
    padding-right: 1%;
  }
}
